<html>
    <head>
        <style>
    .flex-box {
  display: flex;
    
  margin:20px;
}

.flex-box div{
    margin:10px;
}

#box1 div {
  flex-direction: row-reverse;
  background: seagreen;
  height:400px;
  width:150px;

}


    
   
    
    </style>
    </head>

    <body>
            <div class="flex-box" id="box1">
                <div></div>
                <div></div>
                <div></div>
                <div></div>

                
                   
                  </div>
     


    </body>
</html>
