<html>
    <head>
        <style>
            .flex-box{
                margin:20px;
                display:flex;

            }

            #box1{
                margin:10px;
                background: seagreen;
                height:150px;
                width:150px;
            }
        </style>
    </head>

    <body>
        <div class="flex-box">
            <div id ="box1"></div>

            </div>

 <div class="flex-box">
    <div id ="box1"></div>
    <div id ="box1">  </div>
        </div>
             <div class="flex-box">
                <div id ="box1"></div>
                <div id ="box1"></div>
                <div id ="box1"></div>
                    </div>
                    <div class="flex-box">
                            <div id ="box1"></div>
                            <div id ="box1"></div>
                            <div id ="box1"></div>
                            <div id ="box1"></div>
                                </div>
    </body>
</html>


