<html>
    <head>
   <style>
#container {
    display:grid;
    height:500px;
    width:500px;
    margin:40px;
    grid-gap:20px;
    grid-template-columns:130px 130px 130px 130px 130px;
    grid-template-rows:130px 130px 130px 130px 130px;
    background:white
    }
         



  div {
  background-color:seagreen;
  
  
}




   </style>
    </head>
    <body>
            <div id="container">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    </div>
    </body>
                    

                    
    
</html>