
<html>
    <head>
        <style>
        #container
        {
        display:grid;
        height:800px;width:1200px;
        grid-gap:20px;
        grid-template-columns:130px 130px 130px 130px;
        grid-template-rows:
        130px 130px 130px 130px;
        background:white;
        margin:10px 10px 10px 300px
        }
        #box{
            background:seagreen
            }
        </style>
    </head>
    <body>
       <div id="container">
          <div id="box"></div>
          <div id="box"></div>
          <div id="box"></div>
          <div id="box"></div>
          <div id="box"></div>
          <div id="box"></div>
          <div id="box"></div>
          <div></div>
          <div id="box"></div>
          <div id="box"></div>
          <div></div>
          <div></div>
          <div id="box"></div>
       </div>
    </body>
</html>